.container-pdf {
  overflow-x: auto;
}

.pdf {
  width: 794px;
  min-width: 794px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-sizing: border-box;
}

.topo-pdf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 5px dashed #1e5aa8;
  padding: 20px;
}

/* cada lado ocupa o mesmo espaço */
.lado-esquerdo,
.lado-direito {
  width: 120px;
}

.lado-esquerdo {
  display: flex;
  justify-content: flex-start;
}

/* LOGO MENOR */
.logo {
  width: 150px;
  height: auto;
}

/* CENTRO REAL */
.centro {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* TÍTULO MENOR */
.centro h1 {
  margin: 0;
  text-align: center;
  color: #1e5aa8;
  font-size: 28px;
  font-weight: bold;
}

/* COLUNAS */
.duas-colunas {
  display: flex;
  gap: 30px;
}

.coluna {
  flex: 1;
}

/* LINHA (CÉLULA) */
.coluna p {
  display: flex;
  margin: 0;
  border: 1px solid #dcdcdc;
  min-height: 42px;
}

/* LABEL AZUL (FIXO) */
.label {
  background: #1e5aa8;
  color: white;
  font-weight: bold;

  width: 140px;
  min-width: 140px;
  flex-shrink: 0;

  padding: 8px 12px;

  display: flex;
  align-items: center;
}

/* VALOR CINZA */
.valor {
  background: #f3f3f3;
  flex: 1;

  padding: 8px 12px;

  display: flex;
  align-items: center;

  word-break: break-word;
  overflow-wrap: break-word;
}

/* REMOVE strong estilo antigo */
.duas-colunas strong {
  all: unset;
}

/* DESCRIÇÃO */
.descricao-pdf {
  text-align: center;
  margin-top: 20px;
}

.descricao-pdf p {
  border: 2px solid #00000078;
  padding: 20px;
}

.descricao-pdf h2 {
  background-color: #dcdcdc;
  color: #1e5aa8;
  margin-bottom: 10px;
}

.descricao-texto {
  white-space: pre-line;
}

.forma-de-pagamento h2 {
  text-align: center;
}

.forma-de-pagamento .data-cidade {
  text-align: center;
}

.botoes-pdf {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}