.formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #d2f2fc;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}